<div class="layer">
  <img src="${require('../../assets/fang.jpg')}" alt="">
    <div class="">This is <%= name %>layer </div>
    <% for (var i = 0;i<arr.length;i++) {%>
      <%= arr[i] %>
    <% } %>
</div>
